<div class="map" id="map_canvas_<%= infraction.id %>"></div>
<script>
  function initialize_<%= infraction.id %>() {
    var myLatLng = {lat: <%= infraction.lat %>, lng: <%= infraction.lon %>};
    var mapCanvas = document.getElementById('map_canvas_<%= infraction.id %>');
    var mapOptions = {
      center: myLatLng,
      zoom: 16,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(mapCanvas, mapOptions);
    var marker = new google.maps.Marker({
      map: map,
      position: myLatLng
    });
  }
</script>
