<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Infractores Escrachados</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="@InfractoresBA">
    <link href='https://fonts.googleapis.com/css?family=Rubik:400,500,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <script src="https://maps.googleapis.com/maps/api/js"></script>

    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));
    </script>

  </head>

  <body>


    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div>

        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <h1 class="brand"><a href="#">InfractoresBA</a></h1>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <a href="#" id="info">¿Cómo funciona?</a>

            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="<%= calculate_class('infractions', '') %>"><%= link_to 'Infracciones', infractions_path %></li>
                <li class="<%= calculate_class('leaderboard') %>"><a href="/leaderboard">Tabla de puntajes</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->
        <div id="description">
          <p>Para reportar una infracción sólo es necesario mencionar a <strong><%= screen_name %></strong> o agregar el hashtag <strong><%= screen_name_hashtag %></strong> a tu tweet.</p>
          <p>Una denuncia válida debe tener:</p>
          <ul>
            <li>Por lo menos una foto que muestre la infracción</li>
            <li>Geolocalización activada al momento de enviar el tweet</li>
          </ul>
          <a href="#" id="close">Cerrar</a>
        </div>


      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="<%= controller_name %> <%= controller_name %>-<%= action_name %>">

      <%= yield %>

    </div><!-- /.container -->
    <!-- FOOTER -->
    <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>Lovingly crafted by <a href="http://www.ombulabs.com" title="Ombu Labs">Ombu Labs</a> in Buenos Aires, Argentina!</p>
    </footer>
    <%= render 'shared/google_analytics' %>
  </body>
</html>
